# pyproject.toml
[tool.ruff]
# Enable Pyflakes (F) and pycodestyle (E, W) rules by default.
# F401: unused-import

# Allow unused variables in files that match `*/__init__.py`.
# ignore-init-module-imports = []

# Exclude specific directories and files.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
    "cuttle-bot",       # Exclude the venv directory
    "cuttle-bot-3.12",  # Exclude the other venv directory
]

# Same as Black.
line-length = 88
indent-width = 4

# Assume Python 3.12
target-version = "py312"

[tool.ruff.lint]
select = ["E", "W", "F"]
ignore = ["E501"]

[tool.ruff.lint.pycodestyle]
# Allow lines longer than `line-length` (handled by `ruff format` or other formatter)
ignore-overlong-task-comments = true

[tool.ruff.lint.mccabe]
# Flag errors (`C901`) for functions with high complexity
max-complexity = 10 